/* style.scss */

@import "reset";

/* Variables */

$background-color: white;
$text-color-dark: black;
$text-color-light: #ffaa4b;
$text-color-std: #5f5f5f;

$dark-color: #5f5f5f;
$light-color: white;

$spot-red: #FF8080;
$spot-green: #80ff80;
// $spot-orange: #ffbf55;
$spot-orange: lighten($dark-color, 40%);

$spot-blue: #55cdff;
$spot-blue-light: lighten($spot-blue, 15%); 
$spot-blue-dark: darken($spot-blue, 15%); 


$std-line-height: 1.4em;
$std-font: "lft-etica", Times New Roman;

$left-column: 5em;

/* Helpers */

.unstyled-link {
    text-decoration: none;
}

.hovering {
    border-color: $spot-blue-dark;
    background-color: $background-color;

}

.editing {
    background-color: $spot-blue-light;
    color: $light-color;
    outline: none;
    border: 2px solid $spot-blue-dark;

    strong {
        color: $light-color;
    }
}

.std-box {
    border: 2px solid $spot-blue;
    border-radius: 2px;
}

/* Main */

* {
    box-sizing: border-box;
}

body {
    // background-color: $background-color;
    background-color: #C6E6EB;
    font-family: $std-font;
    font-size: 20px;
    line-height: $std-line-height;
    color: $text-color-dark;
    padding: 1em;
    font-weight: 200;
}

h1, h2 {
    font-weight: bold;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

h2 {
    margin: 1em 0 0 10%;
}

h3 {
    // font-size: 75%;
    font-weight: 600;
    margin: $std-line-height 0 0.7em 0;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: underline;
}

p {
    margin-bottom: $std-line-height;  
}

strong {
    font-weight: 200;
    color: $spot-orange;
    // font-weight: 600;
}

.subtext {
    font-size: 0.7em;
}

.header {
    
    margin: 1em 10% 2em 10%;
    color: $dark-color;

    h1 {
        display: inline-block;
    }

    ul {
        display: inline-block;
        font-size: 0.7em;
        text-align: right;
        float: right;

        .ss-icon {
            font-size: 1.3em;
            position: relative;
            top: 0.2em;
        }

        a {
            text-decoration: none;
        }

        li {
            display: inline;
            padding: 1em;
        }
    }

}

.content {
    width: 80%;
    color: $text-color-std;
    padding: 1em;
    margin: 1em 10%;
    // border: 1px solid $spot-blue;
    background-color: $background-color;
}

.footer {
    text-align: center;
    font-size: 0.7em;
}

/* Startpage */

.info-text {
    margin: 1em 10%;
}

.list-steps {
    
    line-height: 2em;
    width: 60%;
    margin: 1em 10%;

    .ss-icon {
        color: $spot-blue;
        font-size: 1.5em;
        position: relative;
        top: 0.1em;
        padding-right: 0.2em;
    }
}

.next-step-area {
    margin: 2em 0;
    width: 100%;
    text-align: center;
}

a.button-green {
    background-color: $spot-green;
    padding: 1em;
    color: darken($spot-green, 40%);
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 2px;
    border: 2px solid darken($spot-green, 30%);
    text-transform: uppercase;
    width: 90%;
    margin: 0 5%;
    opacity: 0.8;

    .ss-icon {
        font-size: 1.5em;
        position: relative;
        top: 0.2em;
        padding-right: 0.2em;
    }

    &:hover {
        opacity: 1;
    }

    &:active {
        @extend .editing;
    }
}



/* List */

.interaction {
    margin: 1em 10% 1em 10%;
    text-align: center;

    a {
        // font-size: 2em;
        padding: 0 0.5em;
        text-decoration: none;
    }

    .ss-icon {
        font-size: 1.5em;
        position: relative;
        top: 0.2em;
        padding-right: 0.2em;
    }
}

.list-name {
    font-weight: bold;
    text-transform: uppercase;
}

.input-area {

    margin: 2em 0 3em 0;

    h3 {
        display: inline-block;
        width: $left-column;
    }
}

.list-input {
    color: $dark-color;
    font-family: $std-font;
    font-weight: 200;
    font-size: 1.6em;
    padding: 0.3em 1.6em 0.3em 0.3em;
    width: 80%;
    @extend .std-box;

    &:hover {
        @extend .hovering;
    }

    &:focus {
        @extend .editing;
    }
}

.list-input-button {
    color: $dark-color;
    text-decoration: none;
    padding: 0 0.3em;
    position: relative;
    top: 0.1em;
    font-size: 1.4em;
    left: -2em;
}

.list-main {
    margin-bottom: 4em;
}

.sub-list {
    margin-bottom: 3em;

    // &.list-done {
    //     opacity: 0.4;
    // }

    // &.list-deleted {
    //     opacity: 0.4;
    // }

    // &.list-done, &.list-deleted {
    //     &:hover {
    //         opacity: 1;
    //     }
    // }
}

.sub-lists {
    margin: 1em 0;
}

.checkbox {
    background-color: $light-color;
    width: $std-line-height;
    height: $std-line-height;
    display: inline-block;
    margin-left: $left-column;
    margin-right: 0.2em;
    position: relative;
    top: 0.05em;
    cursor: pointer;
    text-align: center;
    @extend .std-box;

    &:hover {
        @extend .hovering;

        .checkmark {
            position: relative;
            top: 0.1em;
            opacity: 0.3 !important;
        }
    }

    &:active {
        @extend .editing;
        .checkmark {
            opacity: 1 !important;
            color: $light-color;
        }
    }



    .checkmark {
        color: $spot-green;
        position: relative;
        top: 0.1em;

        &.todo {
            opacity: 0;
        }

        &.done {
            opacity: 1;
        }

        &.deleted {
            opacity: 1;
            color: $spot-red;
        }
    }
}

.list-item-container {
    margin: 0.5em 0;
}

.list-item {
    display: inline-block;
    max-width: 75%;
    padding: 0 0.2em;
    vertical-align: top;
    border: 2px solid $background-color; // Prevents snapping of text on edit
}

.list-item.active{
    @extend .std-box;
    @extend .editing;
}

.list-item-meta {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.2em;
    position: relative;
    top: 0.1em;
    opacity: 0.1;
    text-decoration: none;

    .delete {
        color: $spot-red;
    }

    &:hover {
        opacity: 1;
    }
}


.list-footer {
    background-color: #ffffe4;
    font-size: 0.8em;
    padding: 1em;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    h3, ul, li {
        display: inline-block;
    }

    h3 {
        min-width: 5.5em;
    }

    li {
        margin-right: 0.5em;
    }
}

.list-info, .list-output {
    vertical-align: top;
    width: 50%;
    min-width: 15em;
    display: inline-block
}