/* style.scss */

@import "reset";

/* Variables */

$background-color: #eee;
$text-color-dark: black;
$text-color-light: #ffaa4b;
$text-color-std: #5f5f5f;

$spot-color: #d45775;

$spot-blue: #55cdff;
$spot-blue-light: lighten($spot-blue, 5%); 
$spot-blue-dark: darken($spot-blue, 15%); 

$dark-color: #5f5f5f;

$std-line-height: 1.4em;
$std-font: "lft-etica", Times New Roman;

$left-column: 5em;

/* Helpers */

.unstyled-link {
    text-decoration: none;
}

.hovering {
    border-color: $spot-blue-dark;
    background-color: #fefefe;

}

.editing {
    background-color: $spot-blue-light;
    color: white;
    outline: none;
    border: 2px solid $spot-blue-dark;
    text-shadow: 1px 1px 2px $spot-blue-dark, -1px -1px 2px $spot-blue-dark;
}

.std-box {
    border: 2px solid $spot-blue;
    border-radius: 2px;
}

/* Main */
body {
    font-family: $std-font;
    font-size: 26px;
    line-height: $std-line-height;
    background-color: white;
    color: $text-color-dark;
    padding: 1em;
    font-weight: 200;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

h3 {
    // font-size: 75%;
    font-weight: 600;
    margin: $std-line-height 0 0.7em 0;
    text-transform: uppercase;
}

a {
    color: $dark-color;
}

p {
    margin-bottom: $std-line-height;  
}

.header {
    h1 {
        display: inline-block;
        font-weight: bold;
        padding: 0.3em;
        width: 40%
    }

    ul {
        display: inline-block;
        font-size: 0.7em;
        text-align: right;
        width: 58%;

        li {
            display: inline;
            padding: 1em;
        }
    }

}

.footer {
    text-align: center;
    font-size: 0.7em;
}

/* List */

.list {
    width: 80%;
    color: $text-color-std;
    padding: 1em;
    margin: 1em 10%;
    // border: 1px solid $spot-blue;

    a {
        color: $spot-color;
    }
}

.list-name {
    font-weight: bold;
    text-transform: uppercase;
}

.input-area {

    margin-bottom: 2em;

    h3 {
        display: inline-block;
        width: $left-column;
    }
}

.list-input {
    font-family: $std-font;
    font-weight: 200;
    font-size: 1em;
    padding: 0.3em;
    width: 50%;
    @extend .std-box;

    &:hover {
        @extend .hovering;
    }

    &:focus {
        @extend .editing;
    }
}

.list-input-button {
    font-weight: bold;
    color: $spot-color;
    text-decoration: none;
    padding: 0 0.3em;
    left: 0.3em;
}

.list-main {
    margin-bottom: 4em;
}

.sub-lists {
    margin: 1em 0;
}

.checkbox {
    width: $std-line-height;
    height: $std-line-height;
    display: inline-block;
    margin-left: $left-column;
    margin-right: 0.2em;
    position: relative;
    cursor: pointer;
    @extend .std-box;

    &:hover {
        @extend .hovering;
    }
}

.list-item-container {
    margin: 0.5em 0;
}

.list-item {
    display: inline-block;
    max-width: 50%;
    padding: 0 0.2em;
    vertical-align: top;
}

.list-item.active{
    @extend .std-box;
    @extend .editing;
}

.list-item-meta {
    display: inline-block;
    vertical-align: top;
    padding: 0 0.2em;
}

.list-done .list-item{
    color: #89d055;
}


.list-footer {
    background-color: #ffffe4;
    font-size: 0.8em;
    padding: 1em;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    h3, ul, li {
        display: inline-block;
    }

    h3 {
        min-width: 5.5em;
    }

    li {
        margin-right: 0.5em;
    }
}

.list-info, .list-output {
    vertical-align: top;
    width: 50%;
    min-width: 15em;
    display: inline-block
}